<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Subdomain Takeover by Velocity</title>

	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="container">
	<div class="jumbotron">
		<h1>Subdomain Takeover by Velocity!</h1>
		<img src="https://media0.giphy.com/media/COYGe9rZvfiaQ/giphy.gif?cid=ecf05e47ow7a7h1k9knsvjfuudwrworm2ol9uzo2exwq7gzm&rid=giphy.gif" alt="-_-" />		
		<p>This is the sample Page</a></p>
 Profile </a>
	


	</div>
</div>
	
</body>
</html>
